<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eduflex.manage.mapper.CollegeMapper">
    
    <resultMap type="College" id="CollegeResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="name"    column="name"    />
        <result property="parentName" column="parent_name" />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCollegeVo">
        select id, parent_id, ancestors, name, create_by, create_time, update_by, update_time from tb_college
    </sql>

    <select id="checkCollegeNameUnique" resultMap="CollegeResult">
        <include refid="selectCollegeVo" />
        where name = #{collegeName} and parent_id = #{parentId} limit 1
    </select>

    <select id="hasChildByCollegeId" resultType="java.lang.Integer">
        select count(1) from tb_college where parent_id = #{collegeId} limit 1
    </select>
</mapper>