<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eduflex.manage.course_chapter.mapper.CourseChapterMapper">
    <select id="selectMaxOrderNum" resultType="java.lang.Integer">
        select ifnull(max(order_num), 0) from tb_course_chapter where parent_id = #{parentId}
    </select>
</mapper>
