<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eduflex.manage.mapper.CourseGradeMapper">
    
    <resultMap type="CourseGrade" id="CourseGradeResult">
        <result property="id"    column="id"    />
        <result property="courseId"    column="course_id"    />
        <result property="gradeId"    column="grade_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap id="CourseGradeVoResult" type="CourseGradeVo">
        <result property="id" column="id" />
        <result property="courseId" column="course_id" />
        <result property="courseName" column="course_name" />
        <result property="gradeId" column="grade_id" />
        <result property="gradeName" column="grade_name" />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCourseGradeVo">
        select cg.*, c.name as course_name, g.name as grade_name from tb_course_grade cg
                             left join tb_course c on cg.course_id = c.id
                             left join tb_grade g on cg.grade_id = g.id
    </sql>

    <select id="selectCourseGradeList" parameterType="CourseGradeVo" resultMap="CourseGradeVoResult">
        <include refid="selectCourseGradeVo"/>
        ${ew.customSqlSegment}
    </select>
    
    <select id="selectCourseGradeById" parameterType="Long" resultMap="CourseGradeVoResult">
        <include refid="selectCourseGradeVo"/>
        where cg.id = #{id}
    </select>
    <select id="selectCourseGradeByGradeIdAndCourseId" resultType="java.lang.Integer"
            parameterType="com.eduflex.manage.domain.CourseGrade">
        select count(1) from tb_course_grade where course_id = #{courseId} and grade_id = #{gradeId}
    </select>
</mapper>