<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eduflex.manage.mapper.LearningRouteRecordMapper">
    
    <resultMap type="LearningRouteRecord" id="LearningRouteRecordResult">
        <result property="id"    column="id"    />
        <result property="stuId"    column="stu_id"    />
        <result property="goalId"    column="goal_id"    />
        <result property="routeId"    column="route_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="completionTime"    column="completion_time"    />
        <result property="status"    column="status"    />
        <result property="progress"    column="progress"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectLearningRouteRecordVo">
        select id, stu_id, goal_id, route_id, course_id, completion_time, status, progress, create_by, create_time, update_by, update_time, deleted from tb_learning_route_record
    </sql>

    <select id="selectLearningRouteRecordList" parameterType="LearningRouteRecord" resultMap="LearningRouteRecordResult">
        <include refid="selectLearningRouteRecordVo"/>
        <where>  
            <if test="stuId != null "> and stu_id = #{stuId}</if>
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="progress != null "> and progress = #{progress}</if>
        </where>
    </select>
    
    <select id="selectLearningRouteRecordById" parameterType="Long" resultMap="LearningRouteRecordResult">
        <include refid="selectLearningRouteRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertLearningRouteRecord" parameterType="LearningRouteRecord">
        insert into tb_learning_route_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="stuId != null">stu_id,</if>
            <if test="goalId != null">goal_id,</if>
            <if test="routeId != null">route_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="completionTime != null">completion_time,</if>
            <if test="status != null">status,</if>
            <if test="progress != null">progress,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleted != null">deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="stuId != null">#{stuId},</if>
            <if test="goalId != null">#{goalId},</if>
            <if test="routeId != null">#{routeId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="completionTime != null">#{completionTime},</if>
            <if test="status != null">#{status},</if>
            <if test="progress != null">#{progress},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleted != null">#{deleted},</if>
         </trim>
    </insert>

    <update id="updateLearningRouteRecord" parameterType="LearningRouteRecord">
        update tb_learning_route_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="stuId != null">stu_id = #{stuId},</if>
            <if test="goalId != null">goal_id = #{goalId},</if>
            <if test="routeId != null">route_id = #{routeId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="completionTime != null">completion_time = #{completionTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="progress != null">progress = #{progress},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLearningRouteRecordById" parameterType="Long">
        delete from tb_learning_route_record where id = #{id}
    </delete>

    <delete id="deleteLearningRouteRecordByIds" parameterType="String">
        delete from tb_learning_route_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>